html {
	box-sizing: border-box;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; 
	margin:0;
	padding:0;
	background-color: #fafafa;
	color:#2e343b;
}
*, 
*:before, 
*:after {
	box-sizing: inherit;
}
a {
	text-decoration: none;
	white-space: nowrap;
	color:blue;
	font-weight:bold;
}
a:hover {
	color:black;
}
a:active {
	color:green;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-size:16px;
	margin: 2em auto;
	/*padding:2em;*/
	/*border-radius: .25em;*/
	max-width:650px;
}

header,
main,
footer {
	padding:2em;
	background-color:#fff;
}
header {
	border-radius: .25em .25em 0 0;
	padding-bottom:1em;
}
header h1 {
	margin:0;
}
main {
	padding-top:0;
	padding-bottom:0;
}

#gameFeed {}
#gameFeed .block {}
#gameFeed .block h2 {
	margin:0;
	padding:.5em 0;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position:sticky;
	top:0;
	background-color:rgba(255,255,255,.5);
	z-index: 1;
}
#gameFeed .game {
	display:flex;
	align-items: center;
	position: relative;
	padding-bottom:2em;
}
#gameFeed .block:last-of-type .game:last-of-type {
	padding-bottom:0;
}
#gameFeed .game .logos {
	/*padding-right:1em;*/
}
#gameFeed .game .logos img {
	height:6em;
}
#gameFeed .game .logos .home {
	transform: translate(-.5em);
}
#gameFeed .game .data {
	flex-grow:1;
}
#gameFeed .game .data h3 {
	margin:0;
}
#gameFeed .game .data span,
#gameFeed .game .data a {
	display: block;
	/*width:50%;*/
	padding-top:.5em;
}
#gameFeed .game .data a {
	display:none;
}
#gameFeed .gametime .game .data span {
	display:none;
}
#gameFeed .gametime .game .data a {
	display:block;
}
.block.now h2,
.block.later h2 {
	display:none;
}
.block.now:first-of-type h2,
.block.later:first-of-type h2 {
	display:block;
}

#gameFeed .game .data a img {
	height:1em;
	display: inline-block;
	padding-right:.5em;
}
#gameFeed .game .leagueIcon {
	height:2em;
	/*position: absolute;
    right: 0;
    top: 0;*/
}

footer {
	padding-top:1em;
	text-align:center;
	font-size:.75em;
	border-radius: 0 0 .25em .25em;
}
#madeBy {
	text-align:center;
	margin-top:1em;
}
#madeBy img {
	height:1em;
}





@media only screen and (max-width: 650px) {
	body {
		margin:0;
	}
	header, main, footer {
		padding:1em;
	}
	header, footer {
		border-radius: 0;
	}
	#gameFeed .game .logos img {
		height:3em;
	}
	#madeBy {
		margin-bottom:1em;
	}
}