html {
	box-sizing: border-box;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; 
	margin:0;
	padding:0;
	color:#2e343b;
	color: rgba(0,0,0,.75);
	/*background-color: #fafafa;*/
}
*, 
*:before, 
*:after {
	box-sizing: inherit;
}
input, 
label,
a,
header {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}
a,
button,
input[type='radio'],
input[type='radio'] + label,
input[type='checkbox'],
input[type='checkbox'] + label {
	cursor: pointer;
}
input:focus, 
select:focus, 
textarea:focus, 
button:focus {
    outline: none;
}
a {
	text-decoration: none;
	white-space: nowrap;
	/*color:#FF5F5A;
	font-weight:bold;*/
}
a:hover {
	/*color:black;*/
	/*text-shadow: 0px 0px 2em #555;*/
}
a:active {
	color:rgba(0,0,0,.75);
}
h1 span,
h2 span,
h3 span {
	white-space: nowrap;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-size:16px;
	margin: 2em auto;
	padding:2em;
	border-radius: .25em;
	max-width:700px;
	box-shadow: 0px 0px 5em 0px rgba(0,0,0,0.1);
	/*background-color:#fff;*/
}

header,
main,
footer {
	/*background-color:#fff;*/
	/*padding:2em;*/
}
header {
	/*border-radius: .25em .25em 0 0;*/
	/*padding-top:3em;*/
	padding-bottom:1em;
}
header h1 {
	margin:0;
}
main {
	padding-top:0;
	padding-bottom:0;
}

#gameFeed {
	min-height:50vh;
	max-height:50vh;
	transition: max-height 3s ease-out;
	display:flex;
}
#gameFeed.loaded {
	max-height:10000vh;
	/*overflow:scroll;*/
	display:block;
}
#gameFeed .block {}
#gameFeed .block h2 {
	margin:0;
	padding:.5em 0;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top:0;
	background: linear-gradient(to bottom, #fff 0%, #fff 80%, rgba(255,255,255,0));
	z-index: 1;
}
#gameFeed .game {
	display:flex;
	align-items: center;
	position: relative;
	margin-bottom:2em;
	color:inherit;
	pointer-events: none;
	cursor: default;
	border-radius:.25em;
}
#gameFeed a.game:hover {
	box-shadow: 0 0 13px 0 #e0e0e0;
}
#gameFeed a.game:active .data .action {
	color:inherit;
}

#gameFeed .block:last-of-type .game:last-of-type {
	margin-bottom:0;
}
#gameFeed .game .logos {
	/*padding-right:1em;*/
	display:flex;
}
#gameFeed .game .logos img {
	height:6em;
	min-width: 6em;
	position:relative;
	text-align: center;
	line-height: 6em;
}
#gameFeed .game .logos img:after {
	content:attr(alt);
	display:block;
	height:100%;
	width:100%;
	font-size:2em;
	background-color:#fff;
	position: absolute;
	top:0;
	left:0;
	text-align: center;
    line-height: 3em;
}
#gameFeed .game .logos .missing {
	font-size:2em;
	height:2.5em;
	width:2.5em;
	line-height:2.5em;
	margin:.5rem;
	border-radius:50%;
	text-align: center;
	color:#fff;
	background-color:#aaa;
	/*background-color:attr(data-color);*/
}
#gameFeed .game .logos *:first-of-type + .missing {
	margin-left:0;
}
#gameFeed .game .logos .home {
	transform: translate(-.5em);
}
#gameFeed .game .data {
	flex-grow:1;
}
#gameFeed .game .data h3 {
	margin:0;
	white-space: normal;
}
#gameFeed .game .data .time,
#gameFeed .game .data .action {
	display: block;
	padding-top:.5em;
}
#gameFeed .game .data .action {
	display:none;
	color:#FF5F5A;
	font-weight:bold;
}
#gameFeed .gametime .game {
	pointer-events: auto;
	cursor: auto;
}
#gameFeed .gametime .game .data .time {
	display:none;
}
#gameFeed .gametime .game .data .action {
	display:block;
}
#gameFeed .gametime .game .data .action.google {
	display:flex;
}
.block.now h2,
.block.later h2 {
	display:none;
}
.block.now:first-of-type h2,
.block.later:first-of-type h2 {
	display:block;
}

#gameFeed .game .data .time img,
#gameFeed .game .data .action img {
	height:1em;
	display: inline-block;
}
#gameFeed .game .data .action.google img {
	height:1.2em;
	padding-left:.25em;
}
#gameFeed .game .leagueIcon {
	height:2em;
	margin-right:1em;
	/*position: absolute;
    right: 0;
    top: 0;*/
}
#timezone {
	padding-top: 1em;
	text-align: center;
	font-size: .75em;
}

footer {
	padding-top:1em;
	text-align:center;
	/*font-size:.75em;*/
	border-radius: 0 0 .25em .25em;
}
/*#madeBy {
	text-align:center;
	margin-top:1em;
}*/
#madeBy img {
	height:1em;
}
#noGames {
	margin:0;
}
#noGames span {
	display: block;
	font-weight: 100;
}

@keyframes pulse {
    0%     { opacity: .1; }
    20%    { opacity: .8; }
    100%   { opacity: .1; }
}

.preloader {
	display:block;
	height:3em;
	margin:auto;
	/*position:fixed;
	top:50%;
	left:50%;*/
}
svg path {
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    color: #000;
}

.bb-7 { animation-delay: -1s }
.bb-6 { animation-delay: -.875s }
.bb-5 { animation-delay: -.75s }
.bb-4 { animation-delay: -.625s }
.bb-3 { animation-delay: -.5s }
.bb-2 { animation-delay: -.375s }
.bb-1 { animation-delay: -.25s }
.bb-0 { animation-delay: -.125s }





@media only screen and (max-width: 700px) {
	body {
		margin:0;
		padding: 2em 1em;
		padding-left: env(safe-area-inset-left);
    	padding-right: env(safe-area-inset-right);
    	padding-bottom: env(safe-area-inset-bottom);
		/*box-shadow: none;*/
	}
	header, main, footer {
		/*padding-left: 1em;
		padding-right: 1em;*/
	}
	header, footer {
		border-radius: 0;
	}
	#gameFeed .game {
		padding: .5em 0;
	}
	#gameFeed .game .logos img {
		height:3em;
		min-width:3em;
		line-height:3em;
	}
	#gameFeed .game .logos .missing {
		font-size:1em;
	}
	#gameFeed .game .logos img:after {
		font-size:1em;
	}
	#madeBy {
		margin-bottom:1em;
	}
}

@supports(padding: max(0px)) {
	@media only screen and (max-width: 700px) {
	    body {
	        padding-left: max(1em, env(safe-area-inset-left));
	        padding-right: max(1em, env(safe-area-inset-right));
	        padding-bottom: max(1em, env(safe-area-inset-bottom));
	    }
	}
}

@media only screen and (max-width: 700px) and (orientation:landscape) {
	#gameFeed {
		/*min-height:45vh;*/
	}
}